<app-nav-bar></app-nav-bar>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Your Page Title</title>

</head>



    <div class="profile-page">
        <div class="profile-container">
            <div class="info-container">
                <div class="info">
                    <h1>Profile</h1>
                    <p>Username: <b>{{ user?.username }}</b></p>
                    <p>Email: <b>{{ user?.email }}</b></p>

                    <h2>Favorite Movies</h2>
                    <div *ngIf="FavoriteMovies.length === 0">
                        <p>No favorites.</p>
                    </div>
                    <mat-list>
                        <mat-list-item *ngFor="let movie of FavoriteMovies">
                            <img matListItemAvatar src="{{ movie.imageURL }}" />
                            <span matListItemTitle>{{ movie.Title }}</span>
                        </mat-list-item>
                    </mat-list>
                </div>

                <form>
                    <h1>Update Profile</h1>
                    <br>
                    <mat-form-field class="user">
                        <mat-label>Username</mat-label>
                        <input matInput [(ngModel)]="user.username" type="text" name="username">
                    </mat-form-field>

                    <mat-form-field class="pwd">
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="user.password" type="password" name="password" required>
                    </mat-form-field>

                    <mat-form-field class="mail">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="user.email" type="email" name="email">
                    </mat-form-field>

                    <mat-form-field class="bdy">
                        <mat-label>Birthdate</mat-label>
                        <input matInput [(ngModel)]="user.birthdate" type="date" name="birthdate">
                    </mat-form-field>
                    <br>
                    <mat-card-actions class="action-btn">
                        <button class="update-btn" mat-raised-button (click)="updateUser()">
                            Update
                        </button>
                        <span class="spacer"></span>
                        <button class="delete-icon" mat-fab color="warn" (click)="deleteUser()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </form>
            </div>
        </div>
    </div>


</html>
