<mat-card class = "card-container">
    <mat-card-header style = "justify-content: center; align-items: center; text-align: center;">
        <mat-card-title >
            <h1>
                {{movie.title}}
            </h1>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class = "content-row">
        <div class="image-container">
            <img [src]= "movie.imageUrl" [alt] = "'Image of ' + movie.title">
        </div>
        <div class="info-container">
            <h2>
                Description:
            </h2>
            <p>
                {{movie.description}}
            </p>
            <h2>
                Director:
            </h2>
            <p>
                {{movie.director.name}}
            </p>
            <h2>
                Genre:
            </h2>
            <p>
                {{movie.genre.name}}
            </p>
        </div>
    </mat-card-content>

    <mat-card-content>
        <h2>
            Similar Movies:
        </h2>
        <div class = "similar-card-container">
            <mat-card *ngFor="let movie of similarMovies; let i=index" class="similar-card">
                <div class="similar-image-container">
                    <img class="similar-movie-image" [src]="movie.imageUrl" (click)="openMovieCardDialog(movie)" />

                </div>
                <mat-card-header style="margin: 0 auto">
                    <mat-card-title
                        style = "
                            font-size: 1em;
                            white-space: nowrap;
                            overflow: hidden;
                        "
                    >
                        {{movie.title}}
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
    </mat-card-content>


</mat-card>
