<div class = "navbar">
    <div class = "navbar-left" style="display: flex; align-items:center; font-size:xx-large; justify-content: center; ">
        Angular Movie Client Database
    </div>
    <div class = "navbar-right">
        <input
            [(ngModel)]="searchText"
            (ngModelChange)="sendMessage()"
            placeholder="Search..."
            style="margin-right: 10px; height: 50%; background-color: rgba(50,75,125,.5); color: white;"
            *ngIf="hasUser()"
        />
        <button
            mat-raised-button
            class="navButton"
            (click)="navHome()"
            style="margin-right: 10px;"
            color="primary"
            *ngIf="hasUser()"
        >
            Home
        </button>
        <button
            mat-raised-button
            class="navButton"
            (click)="navProfile()"
            style="margin-right: 10px;"
            color="primary"
            *ngIf="hasUser()"
        >
            Profile
        </button>
        <button
            mat-raised-button
            class="navButton"
            (click)="navSignout()"
            style="margin-right: 10px;"
            color="primary"

        >
            Signout
        </button>
    </div>
</div>

